.popularity-indicator {
    width: 60px;
    height: 0.6em;
}

.ui.progress .bar {
    height: 0.6em !important;
}

.popularity-indicator-wrapper {
    display: flex;
    justify-content: center;
    width: 50px;
}